<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd"
>


    <context:annotation-config/>


    <bean class="ru.spring.exper.ProfilingController" />

    <bean class="ru.spring.exper.Messager" >
        <property name="message" value="Hello world"/>
        <property name="sum" value="0"/>
    </bean>

    <bean class="ru.spring.exper.postproc.ProfilingHandlerBeanPostProcessor" />



    <bean class="ru.spring.exper.postproc.SumBeanPostProcessor" ></bean>

</beans>